<li class="comment-item">
  <a class="close-thread-button">[-]</a>
  <span class="comment-author"><%= comment.posted_by %></span>
  <div class="thread">
    <div id="comment-container-<%= comment.id %>">
      <div id="comment-<%= comment.id %>">
        <span class="comment"><%= comment.comment.html_safe %></span>
        <%= render partial: 'comments/links', locals: { comment: comment } %>
      </div>
    </div>
    <% comment.children.hot.each do |child| %>
      <ul class="child-thread">
        <%= render partial: 'comments/comment', locals: { comment: child } %>
      </ul>
    <% end %>
  </div>
</li>