<%= form_for @comment, remote: true do |form| %>
  <div class="form-field">
    <label>Add a Comment</label>
    <% if @comment.id %>
      <div id="editor-<%= @comment.id %>"></div>
    <% else %>
      <div id="editor"></div>
    <% end %>
    <%= form.text_area :comment, id: 'form-data', class: 'hidden-form' %>
  </div>
  <%= form.hidden_field :post_id, value: @post.id %>
  <%= form.hidden_field :parent_id, value: @parent ? @parent.id : nil %>
  <button type="submit" class="button">
    Submit 
    <i class="fas-top fas fa-square"></i>
    <i class="fas-bottom fas fa-check-square"></i>
  </button>
<% end %>