<!-- Voting -->
<div class="actions">
  <a class="action vote upvote upvote-icon <%= Vote.where(voters_id: post.id, user_id: current_user.id, vote: 1).count > 0 ? 'voted' : '' %>" href="/post/<%= post.id %>/upvote" data-remote="true">
    <i class="fas fa-arrow-up"></i>
  </a>
  <a class="action vote downvote downvote-icon <%= Vote.where(voters_id: post.id, user_id: current_user.id, vote: -1).count > 0 ? 'voted' : '' %>" href="/post/<%= post.id %>/downvote" data-remote="true">
    <i class="fas fa-arrow-down"></i>
  </a>
  <span class="vote-count" id="vote-count-<%= post.id %>"><%= post.votes.sum {|vote| vote[:vote] } %></span>
</div>
<!--/Voting -->
