<h1>Posts</h1>
<div class="posts-layout">
  <div class="posts-body">
    <ul class="posts-list">
      <% @posts.each do |post| %>
          <li class="posts-item">
            <a class="post-link" href="<%= post_path(post) %>">
              <p class="post-title"><%= post.title %></p>
              <p class="post-author"><%= post.posted_by %></p>
            </a>
            <div class="actions">
              <a class="action upvote upvote-icon" href="/post/<%= post.id %>/upvote" data-remote="true"><i class="fas fa-arrow-up"></i></a>
              <a class="action downvote downvote-icon" href="/post/<%= post.id %>/downvote" data-remote="true"><i class="fas fa-arrow-down"></i></a>
              <span id="vote-count-<%= post.id %>"><%= post.votes.sum {|vote| vote[:vote] } %></span>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="posts-sidebar">
    <div class="community-board-title"><i class="fas fa-bookmark"></i> Information</div>
    <div class="community-board">
      Need some help on a project?
      <br/>
      <br/>
      <a class="button-link purple" href="/posts/new">Create a new post <i class="fas-top fas fa-question-circle"></i><i class="fas-bottom fas fa-plus-square"></i></a>
    </div>
  </div>
</div>
