<div class="post">
  <h1 class="post-title"><%= @post.title %></h1>
  <p class="post-author"><%= @post.posted_by %>
  <a class="action upvote upvote-icon" href="/votes/<%= @post.id %>/upvote" data-remote="true"><i class="fas fa-arrow-up"></i></a>
  <a class="action downvote downvote-icon" href="/votes/<%= @post.id %>/downvote" data-remote="true"><i class="fas fa-arrow-down"></i></a>
  <span id="vote-count-<%= @post.id %>"><%= @post.votes.sum {|vote| vote[:vote] } %></span>
  <% if @post.user_id == current_user.id %>
    <br/>
    <br/>
    <a class="button-link purple" href="<%= edit_post_path(@post) %>">Edit <i class="fas-top fas fa-edit"></i><i class="fas-bottom fas fa-arrow-alt-circle-right"></i></a>
    <a class="button-link red" href="<%= post_path(@post) %>" data-method="delete" data-confirm="Are you sure?" rel="nofollow">Destroy <i class="fas-top fas fa-trash-alt"></i><i class="fas-bottom fas fa-arrow-alt-circle-right"></i></a>
  <% end %>
  <div class="description">
    <h2 class="post-description-label">Description</h2>
    <%= (@post.description).html_safe %>
  </div>
</div>